version: "3.9"

# 使用以下指令啟動 / 關閉
# docker compose -f docker-compose-etl-ui.yml up -d
# docker compose -f docker-compose-etl-ui.yml down


services:
  mage:
    build:
      context: .                 # 這裡要能看到 Dockerfile.mage 和 instantclient_19_23
      dockerfile: Dockerfile.mage
    image: my-mage-oracle:latest
    pull_policy: build 
    container_name: my-mage
    # 第一次會自動建立名為 my_project 的 Mage 專案
    command: mage start my_project
    restart: unless-stopped
    environment:
      # Mage 本身的執行環境
      ENV: dev
      USER_CODE_PATH: /home/src/my_project

      # 提供給 pipeline 用的 DB 連線資訊（在 pipeline 裡可從環境變數拿）
      POSTGRES_DB: mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_HOST: postgres
      PG_HOST_PORT: 5432

      # 關閉使用者認證（讓你直接進入 Mage UI，不用登入）
      DISABLE_USER_AUTHENTICATION: "True"


      # （選用）如果你想讓 Mage 把「自己的 metadata」也存到 Postgres，而不是用內建 SQLite：
      # MAGE_DATABASE_CONNECTION_URL: "postgresql+psycopg2://myuser:mypassword@postgres:5432/mydb"
      # 需要符合官方文件說明的格式 :contentReference[oaicite:0]{index=0}


      
      # 降低 Mage pipeline / block 併發 
      CONCURRENCY_CONFIG_BLOCK_RUN_LIMIT: "2"
      CONCURRENCY_CONFIG_PIPELINE_RUN_LIMIT: "1"
    ports:
      - "6789:6789"
    volumes:
      # 把當前資料夾底下的 mage 資料夾掛到容器內
      - ./mage:/home/src
      
    cpus: 1.5        # 最多用 1.5 顆 CPU（你可以改成 1 或 2）
    mem_limit: 2g    # 記憶體上限 2GB（依你主機再調）
